a {
  text-decoration: none;
  color: inherit;
}

.detail-image {
  border-radius: 10px;
}

.swiper-button-prev {
  background-image: url(/prev.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next {
  background-image: url(/next.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet-active {
  background: #479e7a !important;
}

.categories::-webkit-scrollbar {
  display: none;
}
